* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Slab;
}

body {
    display: block;
    min-height: 100vh;
    max-width: 100%;
}

.contenedor {
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.cabezera {
    width: 100%;
    background: #30475E;
    height: 10vh;
    /* Flexbox */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cabezera h3 {
    font-weight: normal;
    font-variant: small-caps;
    text-align: center;
    color: white;
    font-size: 30px;
}

.entrada p {
    font-size: 20px;
    color: white;
}

.entrada .im {
    border: 2px solid black;
    height: 31px;
}

.botones {
    height: 60px;
    cursor: pointer;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: -130px;
}

.btn {
    width: 150px;
    height: 55px;
    background-color: white;
    color: rgb(226, 127, 45);
    border: 2px solid #1a1b1a;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background: rgba(102, 99, 99, 0.8);
}

table {
    width: 100%;
    height: 80vh;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    overflow: hidden;
}

table caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
}

table th,
table td {
    font-size: 17px;
    padding: 8px;
    text-align: center;
}

table thead th {
    text-transform: uppercase;
}

table thead {
    display: table;
    width: 100vw;
    height: 60px;
    text-align: center;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.4);
}

tbody {
    display: flex;
    width: 100%;
    max-height: 950px;
    overflow-y: scroll;
}

thead th {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

th,
td {
    width: 15%;
    float: left;
}

tr {
    display: table;
    width: 100%;
}

[data-campo='Des'] {
    width: 25%;
}

[data-campo='Cod'] {
    width: 15%;
}

tfoot {
    width: 100vw;
    height: 50px;
    text-align: center;
    z-index: 2;
}

tfoot th {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

footer {
    background: #30475E;
    width: 100%;
    height: 10vh;
    /* Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-weight: normal;
    font-variant: small-caps;
    text-align: center;
    color: white;
    font-size: 30px;
}

#tbody-articulos {
    display: block;
    max-height: 625px;
    overflow-y: scroll;
}

#tbody-articulos tr {
    font-size: 16px;
    border-bottom: 1px solid #fff;
    color: rgb(255, 255, 255);
}

#tbody-articulos tr:hover td {
    background: #d0dafd;
    color: rgb(248, 248, 248);
}

#tbody-articulos th,
td {
    width: 16.5%;
    word-break: break-all;
    height: 103px;
}

#tbody-articulos tr {
    display: table;
    width: 100%;
}

#tbody-articulos td {
    text-align: center;
    padding: 18px;
    border-top: 12px solid transparent;
}


/*#tbody-articulos tr:nth-child(odd) {
    background: #34c274;
}

#tbody-articulos tr:nth-child(even) {
    background: #c26565;
}*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
}

table tfoot {
    background-color: rgba(255, 255, 255, 0.3);
}

#totalRegistros {
    position: absolute;
    right: 78%;
    font-size: 22px;
    color: white;
}


/* MEDIA QUERIES */

@media all and (max-width:1680px) {
    .contenedor {
        width: 100%;
        height: 100vh;
    }
    #tbody-articulos {
        display: block;
        max-height: 500px;
        overflow-y: scroll;
    }
}

@media all and (max-width:1280px) {
    .contenedor {
        width: 100%;
        height: 100vh;
    }
    #tbody-articulos {
        display: block;
        max-height: 500px;
        overflow-y: scroll;
    }
}

@media all and (max-width:800px) {
    .contenedor {
        width: 100%;
        height: 100vh;
    }
    .botones {
        margin-right: 5px;
    }
    #tbody-articulos {
        display: block;
        max-height: 500px;
        overflow-y: scroll;
    }
    table th,
    table td {
        font-size: 14px;
        /* padding: 8px; */
        /* text-align: center; */
    }
    #tbody-articulos td {
        text-align: center;
        padding: 4px;
        border-top: 12px solid transparent;
    }
    #tbody-articulos th,
    td {
        width: 16.5%;
        /* word-break: break-all; */
        height: 74px;
    }
    footer {
        flex-direction: column;
    }
    #totalRegistros {
        /* position: absolute; */
        /* right: 78%; */
        font-size: 20px;
        color: white;
        flex-direction: column;
        display: contents;
    }
}

@media all and (max-width:400px) {
    .contenedor {
        width: 100%;
        height: 100vh;
    }
    .cabezera {
        display: flex;
        flex-direction: column;
        height: 16vh;
    }
    .cabezera h3 {
        font-size: 20px;
        position: absolute;
        top: 0%;
        right: 36%;
    }
    .botones {
        position: absolute;
        top: 3%;
        right: 3%;
    }
    .entrada {
        display: none;
    }
    .btn {
        width: 162px;
        height: 27px;
        cursor: pointer;
        font-size: 13px;
    }
    table {
        width: 100%;
        height: 74vh;
        border-collapse: collapse;
        text-align: center;
        table-layout: fixed;
        overflow: hidden;
    }
    table thead {
        display: table;
        width: 100vw;
        height: 40px;
        text-align: center;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.4);
    }
    thead th {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        /* font-size: 12px; */
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
    #tbody-articulos {
        display: block;
        max-height: 214px;
        overflow-y: scroll;
    }
    #tbody-articulos tr {
        font-size: 16px;
        /* border-bottom: 1px solid #fff; */
        color: rgb(255, 255, 255);
    }
    table th,
    table td {
        font-size: 9px;
        /* padding: 8px; */
        /* text-align: center; */
    }
    #tbody-articulos td {
        text-align: center;
        padding: 0px;
        border-top: 12px solid transparent;
    }
    #tbody-articulos th,
    td {
        width: 16.5%;
        /* word-break: break-all; */
        height: 42px;
    }
    footer {
        flex-direction: column;
    }
    #totalRegistros {
        /* position: absolute; */
        /* right: 78%; */
        font-size: 20px;
        color: white;
    }
    tfoot {
        width: 100vw;
        height: 40px;
        text-align: center;
        z-index: 2;
    }
    tfoot th {
        height: 37px;
    }
    footer h3 {
        font-size: 20px;
    }
    #totalRegistros {
        position: absolute;
        right: 71%;
        font-size: 14px;
        color: white;
    }
}