* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Slab;
}

body {
    display: block;
    min-height: 100vh;
    max-width: 100%;
}

.contenedor {
    display: block;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.cabezera {
    background: #c2274d;
    height: 10vh;
    /* Flexbox */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.cabezera h3 {
    font-weight: normal;
    font-variant: small-caps;
    text-align: center;
    color: white;
    font-size: 30px;
}

table {
    width: 100%;
    height: 80vh;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    overflow: hidden;
}

table caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
}

table tr {
    border: 1px solid #ddd;
}

table th,
table td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
}

table thead th {
    text-transform: uppercase;
    background: #386fd4;
}

table thead {
    display: table;
    width: 100vw;
    height: 60px;
    text-align: center;
    z-index: 2;
    background: #386fd4;
    overflow: hidden;
}

tbody {
    display: flex;
    width: 100%;
    max-height: 950px;
    overflow-y: scroll;
    background: gray;
}

thead th {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-right: 2px solid rgba(0, 0, 0, .2);
    font-size: 12px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: #386fd4;
}

th,
td {
    width: 15%;
    float: left;
}

tr {
    display: table;
    width: 100%;
}

[data-campo='Des'] {
    width: 25%;
}

tfoot {
    width: 100vw;
    height: 60px;
    text-align: center;
    z-index: 2;
    background: #386fd4;
}

tfoot th {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-right: 2px solid rgba(0, 0, 0, .2);
    font-size: 12px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: #386fd4;
}

footer {
    background: #c2274d;
    width: 100%;
    height: 10vh;
    /* Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-weight: normal;
    font-variant: small-caps;
    text-align: center;
    color: white;
    font-size: 30px;
}

.btn {
    border-radius: 2px;
    display: inline-block;
    padding: 15px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(43, 42, 42, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.btn {
    color: rgb(23, 23, 24);
    background-color: #e9eaec;
    font-size: 15px;
    font-weight: bold;
}

.btn:hover {
    background-color: #cbe8f1;
}

.btn:active {
    background-color: #e7e9eb;
}

#tbody-articulos {
    display: block;
    max-height: 450px;
    overflow-y: scroll;
}

#tbody-articulos tr {
    border-right: 2px solid rgba(0, 0, 0, .2);
    font-size: 22px;
    font-variant: small-caps;
    padding: 8px;
    background: #0c0c0c;
    border-bottom: 1px solid #fff;
    color: rgb(255, 255, 255);
}

#tbody-articulos tr:hover td {
    background: #d0dafd;
    color: #339;
}

#tbody-articulos th,
td {
    width: 16.5%;
    word-break: break-all;
    padding: 12px;
}

#tbody-articulos tr {
    display: table;
    width: 100%;
}

#tbody-articulos td {
    text-align: center;
    padding: 10px;
    color: rgb(17, 17, 19);
    border-top: 1px solid transparent;
}

#tbody-articulos tr:nth-child(odd) {
    background: #34c274;
}

#tbody-articulos tr:nth-child(even) {
    background: #c26565;
}