* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Slab;
}

html {
    max-width: 100%;
    min-height: 100vh;
}

.conteiner {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 10vh;
    background: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: #fff;
    overflow: hidden;
    font-size: 30px;
}

.formulario {
    width: 100%;
    height: 80vh;
    background: rgb(114, 116, 114);
    font-family: "Roboto";
    background: fixed;
}

.form1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
    min-height: 80vh;
}

.contenedor1 {
    width: 600px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.caja {
    max-width: 600px;
}

.contenedor2 {
    width: 600px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

p {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.inputFields {
    display: inline-block;
    font-size: 20px;
    height: 45px;
    width: 300px;
    border: 1px solid rgba(10, 180, 180, 1);
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(31, 204, 83, 0.2);
    color: rgb(15, 14, 14);
    outline: none;
}

.boton {
    max-width: 400px;
    display: block;
}

.join-btn {
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(90, 194, 95, 0.932);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;
}

.join-btn:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 115px;
}

footer h1 {
    background: #2c3e50;
    width: 100%;
    height: 10vh;
    /* Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.inputFields1 {
    display: inline-block;
    font-size: 22px;
    height: 45px;
    width: 300px;
    border: 1px solid rgba(10, 180, 180, 1);
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(31, 204, 83, 0.2);
    color: rgb(15, 14, 14);
    outline: none;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 700px) {
    .conteiner {
        flex-direction: column;
    }
    header {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }
    .formulario {
        flex-direction: column;
    }
}