* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255, 255, 255);
    display: block;
    margin-top: 40px;
}

.formulario {
    width: 20vw;
    height: 32vh;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario label {
    font-size: 18px;
    font-weight: bold;
    font-weight: bold;
    text-align: center;
}

.formulario input[type="text"] {
    width: 180px;
    padding: 5px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
}

.boton {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    width: 40%;
    padding: 15px 16px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
}

.boton:hover {
    background-color: #f2f3eb;
    color: rgb(34, 112, 230);
    font-weight: bold;
    font-size: 12px;
}